  {% extends "base.html" %}
  {% block title %}Blog{% endblock title %}
  {% block content %}

  <div class="wrapper">

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <h6 class="category">{{post.created_on}}</h6>
            <h3 class="title">{{post.title}}</h3>
            <p class="text-justify">{{post.text}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  {%endblock%}